<!DOCTYPE html>
<html lang="UTF-8">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
<link rel="stylesheet" href="../Static/Iconos/style.css">
<style>

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    background: url(Imagenes/10.jpg) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }

  h1 {
    margin: 50px 100px;
    text-shadow: 1px 1px 2px black;
    font-size: 70px;
  }

  strong {
    color: #00ff5d;
  }
  
  p{
    margin: 0px 550px;
    font-size: 120px;
  }

</style>
<head>
    <meta charset="UTF-8">
    <title>Contraseña olvidada</title>
</head>
<body>
    <h1>OOPS!, Lo sentimos. Esta función <strong>no está disponible</strong> en este momento...</h1>
    <br>
    <p>(╥﹏╥)</p>
</body>
</html>