<!DOCTYPE html>
<html lang="UTF-8">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
<link rel="stylesheet" href="../Static/Iconos/style.css">
<style>

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    background: url(Imagenes/10.jpg) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }

  h1 {
    margin: 50px 100px;
    color: #00ff5d;
    text-shadow: 1px 1px 2px black;
  }

  strong {
    color: #00ff5d;
  }

  p {
    margin: 0px 100px;
  }

</style>
<head>
    <meta charset="UTF-8">
    <title>Política de Privacidad</title>
</head>
<body>
    <h1>Política de Privacidad (NO ES REAL).</h1>
    <p>A los usuarios de cualquiera de los servicios de INSTAFIT que hayan sido redirigidos a la aplicación a través de una página web de las marcas GATORADE®, 5V5® o G-ACTIVE® les será aplicable el aviso de privacidad incluido en la Sección I</p><br>
    <p>A los demás usuarios de cualquiera de los servicios de INSTAFIT les será aplicable el aviso de privacidad incluido en la Sección I.</p><br>
    <p>SECCIÓN I</p><br>
    <p>AVISO DE PRIVACIDAD INSTAFIT:</p><br>
    <p>La presente declaración de privacidad corresponde a la empresa INSTAFIT INC, INSTAFIT México SAPI de CV y sus filiales INSTAFIT Colombia SAS, INSTAFIT Chile SpA, INSTAFIT Puerto Rico LLC (en adelante INSTAFIT, "nosotros", "nuestro/a" o "nos"), y los usuarios de cualquiera de sus servicios en cualquier lugar del mundo incluyendo cualquiera de las aplicaciones móviles (apps), páginas web (web), herramientas u otros servicios.</p><br>
    <p>INSTAFIT es responsable de resguardar y proteger sus datos personales.
    Este Aviso de Privacidad contempla en todo momento los principios de licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad en el tratamiento de los datos personales.
    INFORMACIÓN RECOLECTADA</p><br>
    <p>INSTAFIT recolecta las siguientes categorías de información:</p><br>
    <p>Información proporcionada por el usuario, esto incluye información presentada cuando usted:</p><br>
    <p>Crea o actualiza su cuenta de INSTAFIT, que dependiendo los servicios de INSTAFIT contratados puede incluir su nombre, email, número de teléfono, nombre de usuario, contraseña, dirección, información de pago (Tarjeta de crédito, débito), número de identificación gubernamental, cumpleaños, foto, peso, estatura, género, entre otros...</p><br>
    <p>Solicita servicios a través de nuestra página web o apps</p><br>
    <p>Contacta a INSTAFIT, incluyendo nuestros canales de servicio al cliente</p><br>
    <p>Completa encuestas / entrevistas enviadas por INSTAFIT o en nombre de INSTAFIT</p><br>
    <p>Contacta a otros usuarios de INSTAFIT a través de nuestros servicios</p><br>
    <p>El usuario responderá en todo momento por los datos proporcionados y en ningún caso INSTAFIT será responsable de la veracidad de los mismos.</p><br>
</body>
</html>