<!DOCTYPE html>
<html lang="UTF-8">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
<link rel="stylesheet" href="../Static/Iconos/style.css">
<style>

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    background: url(Imagenes/10.jpg) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }

  h1 {
    margin: 50px 100px;
    color: #00ff5d;
    text-shadow: 1px 1px 2px black;
  }

  strong {
    color: #00ff5d;
  }

  p {
    margin: 0px 100px;
  }

</style>
<head>
    <meta charset="UTF-8">
    <title>Terminos Y Condiciones de Uso</title>
</head>
<body>
    <h1>Terminos Y Condiciones de Uso (NO SON REALES).</h1>
    <p>Los Términos y Condiciones Generales del presente documento y demás políticas y principios que lo rigen se aplican al uso de servicios ofrecidos por GetFitGirl, en lo sucesivo referido como OFERECEDOR. Cualquier persona física que ingrese al sitio WEB, en lo sucesivo nos referiremos a este como USUARIO.&nbsp;&nbsp;<br><br>Los presentes Términos y Condiciones Generales de Uso rigen el uso del siguiente producto:&nbsp;&nbsp;<br><br>GETFITGIRL.</p><br>
    <p><strong>1. Aceptación de los Términos y Condiciones Generales.</strong> <br> Al ingresar o utilizar el sitio, el USUARIO acepta las disposiciones de estos Términos y Condiciones Generales. En el caso que el USUARIO no quiera someterse a estos Términos y Condiciones Generales, no estará autorizado a ingresar o utilizar el sitio y los servicios. Si este es el caso, aconsejamos interrumpir cualquier uso del sitio y sus servicios. El OFRECEDOR podrá, en cualquier momento y exclusivamente a su criterio, alterar estos Términos y Condiciones Generales, siendo las condiciones aplicables a aquellas en vigor en los datos de registro/contratación realizados por el USUARIO.</p><br>
    <p>Los presentes Términos y Condiciones Generales, en su versión más actualizada, estarán permanentemente disponibles en la siguiente dirección: https://www.GetFitGirl.com.co/terminos-y-condiciones</p><br>
    <p><strong>2. Descripción de los Servicios</strong><br>2.1. Servicios Ofrecidos
El OFERECEDOR presta a sus USUARIOS, a través del sitio, los siguientes servicios sin prejuicio de otros que vengan a ser introducidos oportunamente: </p> <br>
<p>Un servicio de suscripción mensual de ejercicios en línea provisto semanalmente, así como menús y sugerencias de alimentación diferenciados en función de sus objetivos informados, en lo sucesivo referido como el PROGRAMA. </p><br>
<p>Con este fin, el USUARIO tendrá acceso, durante un periodo de 30 días, a un espacio virtual y a herramientas de acompañamiento, recibiendo semanalmente durante el periodo de duración del PROGRAMA, sugerencias de menús y actividad física que le permitirán iniciar o continuar con su Programa. El USUARIO también contará con la posibilidad de solicitar aclaraciones a nuestro equipo por medio de la dirección de correo electrónico hola@GetFitGirl.com.co. </p><br>
<p>Esta descripción de los servicios ofrecidos no es exhaustiva ni tampoco definitiva, el OFRECEDOR se reserva el derecho de alterar las modalidades implementadas por los servicios y/o incrementar los servicios o nuevas características, buscando mejorar la calidad del sitio y de los servicios ofrecidos.</p><br>
<p>2.2. Precio de los Servicios </p><br>
<p>El precio de la suscripción mensual al Programa estará disponible en www.GetFitGirl.com.</p><br>
<p>2.3. Celebridades y entrenadores</p><br>
<p>El USUARIO reconoce y entiende que el acceso a cualquier entrenador particular que figure en el sitio web, incluyendo Mónica Fonseca y/o Daniel Cortés, en persona o en línea no está garantizado.  </p><br>
<p>2.4. Participación Voluntaria</p><br>
<p>Al participar, el USUARIO lo está haciendo de forma voluntaria y bajo su propio riesgo. Dentro de lo permitido y requerido por la ley, esto es una advertencia del riesgo con conformidad a las distintas responsabilidades civiles y de la legislación de protección del consumidor. El USUARIO asume todos los riesgos en relación con su participación en los servicios y actividades recreativas que proporcionamos.</p><br>
<p><strong>3. Requisitos Necesarios para el PROGRAMA:</strong><br> Para poderse beneficiar de los Servicios, el USUARIO debe disponer: (i) de acceso a Internet: los gastos correspondientes a esta conexión son responsabilidad única y exclusiva del USUARIO; (ii) equipos necesarios, especialmente una computadora, un módem o cualquier otra herramienta de conexión que permita el acceso a Internet.</p><br><br>
</body>
</html>